.navig-element {
    text-align: center;
}
.separator-line {
    border: 1ex solid #030303;
    border-width: 5ex 0.1ex 0.1ex 0.1ex;
    margin: 1ex;
    height: 100%;
}

.navig-name {
    margin: 0 2ex 0 0;
}

.navig-bar {
    margin-bottom: 0px;
}

.footer-section {
    margin-top: 0px;
    padding-top: 0px;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 500px;  /* change this to whatever you want */
    width: auto !important;
}

.max-w-4xl.mx-auto.mt-16.antialiased{
    margin-top: 0px !important;
}

.gallery-name{
    text-align: center;
    text-decoration: bold;
    margin-bottom: 0.25em;
}

